.input-group-title .form-control {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  
  .input-group-title .input-group-text {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  
  .input-group-title .btn {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  