/* src/App.css */

/* Estilo padrão (claro) */
body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.c-app {
  display: flex;
  height: 100vh;
}

.c-default-layout {
  display: flex;
  flex-direction: row; /* Manter para ter a sidebar na lateral */
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 50px; /* Ajuste conforme a largura do seu Sidebar */
}

.bg-light {
  background-color: #f8f9fa !important;
}

.nav-icon {
  width: 24px; /* Tamanho do ícone */
  height: 24px;
  display: block;
  margin: 0 auto; /* Centralizar os ícones */
  color: #ff0000;
}

.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.c-header-brand {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-decoration: none;
  color: #343a40;
}

.content {
  padding: 10px; /* Adicionar padding à área de conteúdo */
  margin: 10px; /* Adicionar margem à área de conteúdo */
  background-color: #ffffff; /* Adicionar fundo branco para contraste */
  border-radius: 8px; /* Adicionar bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionar sombra para destaque */
  width: 100%; /* Ajustar largura para 100% */
  box-sizing: border-box; /* Incluir padding e borda na largura total */
}

.task-form {
  max-width: 600px; /* Limitar a largura do formulário */
  margin: 0 auto; /* Centralizar o formulário */
  background-color: #f8f9fa; /* Fundo diferente para o formulário */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-form .form-group {
  margin-bottom: 1rem;
}

.task-form label {
  font-weight: bold;
}

.task-form input,
.task-form select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

.task-form .btn {
  margin-top: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

/* Estilos para contêineres */
.column-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Adicionar wrap para responsividade */
}

/* Estilizar botão de remoção */
.remove-btn {
  background: none;
  border: none;
  color: red;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 5px;
}

.remove-btn:hover {
  color: darkred;
}

/* Botão de fechamento do modal */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
  z-index: 1;
}

.close-btn:hover {
  color: #ff0000;
}

/* Estilos para sidebar */
.sidebar-full-height {
  height: 100vh; /* Define a altura da sidebar para 100% da altura da tela */
  display: flex;
  flex-direction: column;
}

.sidebar-narrow {
  width: 60px; /* Define a largura da barra estreita */
}

.sidebar-narrow .nav-icon {
  margin-right: 0; /* Remove margem direita para ícones na barra estreita */
}

.CSidebarFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CSidebarFooter .d-flex {
  width: 100%;
  justify-content: center;
}

/* Tema Escuro */
.dark-mode .body {
  background-color: #151515;
  color: #ffffff;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .c-header {
  background-color: #1f1f1f;
  border-bottom: 1px solid #333;
}

.dark-mode .c-header-brand {
  color: #ffffff;
}

.dark-mode .content {
  background-color: #1f1f1f;
  color: #ffffff;
}

.dark-mode .task-form {
  background-color: #1f1f1f;
  color: #ffffff;
}

.dark-mode .c-card {
  background-color: #1f1f1f;
  color: #ffffff;
}

.dark-mode .card-header {
  background-color: #262626;
  color: #ffffff;
}

.dark-mode .card-body {
  background-color: #373737;
  color: #ffffff;
}

.dark-mode .c-form-input,
.dark-mode .c-form-select,
.dark-mode .c-form-textarea,
.dark-mode .c-form-label {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #555;
}

.dark-mode .c-button,
.dark-mode .c-button-primary,
.dark-mode .c-button-secondary {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #555;
}

.dark-mode .sidebar-full-height {
  background-color: #1f1f1f;
}

.dark-mode .sidebar-narrow {
  background-color: #1f1f1f;
}

.dark-mode .sidebar-narrow .nav-icon {
  color: #ffffff;
}

.dark-mode .CSidebarFooter {
  background-color: #1f1f1f;
}

.dark-mode .sidebar {
  background-color: #1e1e1e;
}

.dark-mode .nav-link {
  color: #adb5bd;
}

.dark-mode .nav-link:hover {
  background-color: #495057;
  color: #ffffff;
}

body.dark-mode .nav-link {
  color: #cccccc;
}

body.dark-mode .nav-link:hover {
  background-color: #3c3c3c;
  color: #ffffff;
}

body.dark-mode .c-icon {
  color: #cccccc;
}

body.dark-mode .dashboard-card {
  background-color: #1f1f1f;
  color: #ffffff;
}

body.dark-mode .c-button-group .btn {
  background-color: #1f1f1f;
  color: #ffffff;
}

body.dark-mode .c-button-group .btn-primary {
  background-color: #3a3a3a;
  color: #ffffff;
}

body.dark-mode .c-button-group .btn-secondary {
  background-color: #1f1f1f;
  color: #ffffff;
}

body.dark-mode .clickable:hover {
  background-color: #3a3a3a;
}

